{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }]
  },
  "env": {
    "mocha": true
  }
}
